body{
    background: #050505;
    text-align: center;
}

h1{
    font-size: 5rem;
    font-family: "arvo", cursive;
    text-shadow: 3px 0 #da7604;
}

.set{
    width: 1000px;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    margin: auto;
    position: relative;
    box-shadow: 0 0 10px 5px white;
}


.key{
    outline: none;
    border: 0px solid rgb(0, 0, 0);
    font-size: 1rem;
    line-height: 2;
    font-family: "arvo", cursive;
    font-weight: 100;
    color: #da0463;
    text-shadow: 3px 0 white;
    border-radius: 15px;
    width: 100px;
    height: 300px;
    text-align: center;
    margin: 15px 0;
    background-color: white;
    box-shadow: 0 3px 2px 0 black, 0 5px 0 grey;
}

.wk{
    margin-top: 3rem;
}

.black-keys{
    position: absolute;
    top: 20px;
    left: 100px;
}

.bk{
    background-color: black;
    width: 70px;
    height: 150px;
    margin-right: 35px;
    color: black;

}

.i{
    margin-left: .5rem;
}

.j{
    margin-left: 5.5rem;
}

.k{
    margin-left: 0.5rem;
}
.n{
    margin-left: 5.5rem;
}

footer{
    color: white;
    font-family: sans-serif;
    margin-top: 100px;
}

.pressed{
    box-shadow: 0 4px 5px 0 white;
    opacity: 0.7;
}

.cover{
    width: 1500px;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10px;
    background: rgba(235, 163, 7, 0.719);
    z-index: 10000;
}